{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" />
        <link href="{% static "style_profile.css" %}" rel="stylesheet"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style type="text/css">
            .bs-example{
            	margin: 20px;
            }
        </style>
        <title>Course List</title>
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="col-lg-12 navBar">
                    <!---TEST-->
                        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a href="/profile/" class="navbar-brand">
                                        <img src="{% static "tuffy_tutors.png" %}" style="margin-top:-9px;height:40px;width:65px;margin-left:-5px;margin-right:-5px;">
                                    </a>
                                </div>
                                <div id="navbarCollapse" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/profile/">HOME</a></li>
                                        <li><a href="/message/">MESSAGES</a></li>
                                        <li class="active"><a href="/course_list/">COURSE LIST</a></li>
                                        <li><a href="/edit_profile/">EDIT PROFILE</a></li>
                                        <li><a href="/logout/">LOGOUT</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/profile/">{{ user_info.first_name }} {{ user_info.last_name }}</a></li>
                                        <li><a href="/profile/">Rating: {{ user_rating }}</a></li>
                                        <li><a href="/profile/">Posts: {{ num_posts }}</a></li>
                                    </ul>
                                </div>
                            </div>
                         </nav>
                    <!---TEST-->
                </div>
            </div>

        <div class="course-list-container">
            <table class="course-list-table">
                <tr class="course-list-header">
                    <td class="course-list-name">Name</td>
                    <td class="course-list-description">Description</td>
                    <td class="course-list-participants" align="center">Participants</td>
                </tr>
                {% for item in course_tuple %}
                <tr>
                    <td class="course-list-name"><a href="/course/{{item.0}}">{{item.1}}</a></td>
                    <td class="course-list-description">{{item.2}}</td>
                    <td class="course-list-participants" align="center">{{item.3}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </body>
</html>
